@let darkIsSupported = isDarkSupported();
<div class="theme-toggle-container" [class.disabled]="!darkIsSupported">
  @let isDarkModeSet = isDarkMode();
  <span class="toggle-side-label dark-label" [class.active-label]="isDarkModeSet">
    🌜&nbsp;DARK
  </span>

  <p-toggleswitch
    size="large"
    ariaLabel="Toggle between dark and light themes"
    [ngModel]="isDarkModeSet"
    [disabled]="!darkIsSupported"
    (ngModelChange)="toggleTheme()"
  >
    <ng-template #handle>
      @if (!!isDarkModeSet) {
        <svg data-p-icon="pi-moon" class="pi" />
      } @else {
        <svg data-p-icon="pi-sun" class="pi" />
      }
    </ng-template>
  </p-toggleswitch>
  <!-- RIGHT ANCHOR: FORCED LIGHT LABEL AND SUN EMOJI -->
  <span class="toggle-side-label light-label" [class.active-label]="!isDarkModeSet">
    LIGHT&nbsp;🌞
  </span>
</div>
